<div fxLayout="row wrap">

    <div fxLayout="row wrap">
        <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100" class="m-gap p-gap">
            <mat-card>
                <div class="card-wheather grad-blue">
                    <div class="city">New Orders</div>
                    <div class="date">This Week</div>
                    <div class="weather">
                        <div class="sun d-flex justify-content-between">
                            <i class="fa fa-shopping-bag fa-3x align-self-center"></i>
                            <div class="temp align-self-center">190</div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100" class="m-gap p-gap">
            <mat-card>
                <div class="card-wheather grad-green">
                    <div class="city">Total Profit</div>
                    <div class="date">This Week</div>
                    <div class="weather">
                        <div class="sun d-flex justify-content-between">
                            <i class="fa fa fa-users fa-3x align-self-center"></i>
                            <div class="temp align-self-center">987</div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100" class="m-gap p-gap">
            <mat-card>
                <div class="card-wheather grad-red">
                    <div class="city">Email</div>
                    <div class="date">This Week</div>
                    <div class="weather">
                        <div class="sun d-flex justify-content-between">
                            <i class="fa fa-inbox fa-3x align-self-center"></i>
                            <div class="temp align-self-center">236</div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>


    <!--<div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100" class="m-gap p-gap">
        <mat-card>
            <div class="card-wheather grad-green">
                <div class="city">Contacts Counter</div>
                <div class="date">Total Contacts added to the system</div>
                <div class="weather">
                    <div class="sun d-flex justify-content-between">
                        <i class="fa fa fa-users fa-3x align-self-center"></i>
                        <div class="temp align-self-center">{{ userKPIs.totalContacts }}</div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100" class="m-gap p-gap">
        <mat-card>
            <div class="card-wheather grad-red">
                <div class="city">Gifts Counter</div>
                <div class="date">Total Gifts added to the system</div>
                <div class="weather">
                    <div class="sun d-flex justify-content-between">
                        <i class="fa fa-users fa-3x align-self-center"></i>
                        <div class="temp align-self-center">{{ userKPIs.totalGifts }}</div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
    <div fxFlex.sm="100" fxFlex.xs="100" fxFlex.md="33.33" fxFlex.lg="33.33" fxFlex.xl="33.33" fxFlex="100" class="m-gap p-gap">
        <mat-card>
            <div class="card-wheather grad-blue">
                <div class="city">Revenue</div>
                <div class="date">Total Gifts added to the system</div>
                <div class="weather">
                    <div class="sun d-flex justify-content-between">
                        <i class="fa fa-users fa-3x align-self-center"></i>
                        <div class="temp align-self-center">{{userKPIs.totalGiftMoney | currency }}</div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>-->

</div>
